header {
    float: left;
    clear: both;
    text-align: center;
    font-size: 55px;
    height: 160px;
    width: 100%;
    background-color: gray;
}

    header .headtitle {
        width: 400px;
        margin: 50px auto;
        color:white;
    }

aside.sidebar {
    float: right;
    width: 250px;
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #010101;
}

    aside.sidebar .box {
        float: right;
        width: 210px;
        margin: 10px 20px;
        border: 1px solid #010101;
        border-radius:5px;
    }

        aside.sidebar .box h2.title {
            font-size: 23px;
            margin: 10px 25px;
            text-decoration: underline;
        }

aside.sidebar .box .info {

    margin:10px 25px;
}


        aside.sidebar .box button {
            width: 150px;
            color: white;
            background-color: green;
            margin:10px 25px;

        }

        aside.sidebar .box button:hover {
            background-color:blue;
        }

    aside.sidebar .HowToUse button:hover {
        width: 150px;
        color: white;
        background-color: blue;
        margin-right: 25px;
    }

    aside.sidebar .box .item {
        margin-right:25px;
    }

    aside.sidebar .box .multiple {
        margin: 5px 25px;
        height:50px;
        width:150px;
    }
    aside.sidebar .box input {
        margin-right: 25px;
        margin-bottom: 5px;
    }

.left {
    float: right;
    width: 1000px;
    height: 925px;
}
